<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
<p>You have {{ cart.totalItemCount }} in the shopping cart.</p>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th class="text-center" style="width:260px">Quantity</th>
      <th class="text-right" style="width:260px">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of cart.items">
      <td>
        <img [src]="item.imageUrl" class="thumbnail">
      </td>
      <td>
        {{ item.title}}
      </td>
      <td>
      <product-quantity [product]="item" [shopping-cart]="cart" ></product-quantity>
      </td>
      <td class="text-right" style="width:260px">{{ item.totalPrice | currency:'USD':true }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
    <th></th>
    <th></th>
    <th></th>
    <th class="text-right" style="width:260px">{{ cart.totalPrice | currency:'USD':true }}</th>
  </tr>
  </tfoot>
</table>
<a
[routerLink]="['/check-out/']" 
class="btn btn-success btn-sm">Check Out</a>
<button
(click)="clearCart()" 
class="btn btn-danger btn-sm">Clear Shopping Cart</button>
</ng-container>